.scrollComponent {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.createPostContainer {
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background: rgb(255, 246, 246);
    border-radius: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}

.uploadButton {
    position: absolute;
    right: 0;
    bottom: -60%;
    /* height: 3rem;
    width: 8rem; */
    background-color: rgb(69, 166, 251);
    color: white;
    border-radius: 12px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
}

.userProfile {
    border-radius: 100%;
    height: 60%;
    width: fit-content;
}

.createPostContainer>textarea {
    width: 100%;
}


.Fab {
    background: rgb(0, 59, 130);
    border-radius: 100%;
    justify-content: center;
    display: flex;
    /* align-items: center;
    width: 45px;       
    height: 45px;*/
    cursor: pointer;
}


.Fab>svg {
    width: fit-content;
    height: 40px;
    color: white;
}


.textAreaOfContent {
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.singleCard {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.singleCard_profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCard_profileContainer>img {
    width: 10%;
    border-radius: 50%;
}

.singleCard_image {
    max-width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard_image>img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;
}

.singleCard_OptionsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.singleCard_OptionsContainer>svg {
    height: 100%;
    width: 16%;
}

.commentsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}

.allCommentsContainer {
    width: 40vw;
    height: 80vh;
    background: white;
    border-radius: 20px;
    position: relative;
    padding: 1.5rem;
    /* overflow-y: scroll; */
}

.postCommentsContainer {
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

.postCommentsContainer>input{
    flex: 0.9;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    /* width: 80%;
    height: 2.5rem; */
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    /* padding-inline: 1rem; */
    outline: none;
}


.postCommentsContainer>input:focus {
    border: 1px solid silver;  
}

.postCommentsContainer_CommentBtn {
    flex: 0.1;
    width: fit-content;
    padding: 1.2rem;
    color: white; 
    background: orange;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}